<div class="header">
    <div class="title">Search app</div>
    <!-- Search form -->
    <nav class="search">
      <form>
        <div class="searchbar">
          <mat-form-field class="form-field">
            <input list="data" [matAutocomplete]="auto" autocomplete="off" matInput type="text" name="search" placeholder="Search" [(ngModel)]="value" (ngModelChange)="onKeyUp(value)">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-autocomplete #auto="matAutocomplete">
            <mat-option [value]="item.title + ' ' + item.year" *ngFor="let item of result; trackBy: trackByFn;">{{ item.title }} {{ item.year }}</mat-option>
          </mat-autocomplete>

        </div>
      </form>
    </nav>
</div>
