@media only screen and (max-width: 450px) {
  .title {
    display: none;
  }
  .search {
    width: 100%;
  }
  .header {
    text-align: center;
  }
}
@media only screen and (min-width: 450px) {
  .title {
    display: inline-block;
    width: 25%;
    text-align: center;
    margin: auto;
    position: relative;
    font-size: 1.5em;
  }
}
/* Customizes the navbar */
.header {
  padding: 10px 10px;
  background-color: rgba(60, 11, 240, 0.84);
  margin-bottom: 4px;
  box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.7);
  height: 50px;
}
/* Customizes the link for the home page */
.title a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-style: bold;
  font-size: 1.5em;
}
/* Customizes the search input box */
.search {
   display: inline-block;
   height: 100%;
   width: 65%;
   padding: 1px 15px;
   background-color: rgba(245, 245, 245, 0.959);
   border-radius: 20px;
}
.form-field {
  width: 100%;
}
/* Customizes the options from the dropdown list */
.data-option {
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.562);
}
.data-option * {
  padding-top: 30px;
}
