@media only screen and (max-width: 840px) {
    .searchbutton {
        display: none;
    }
    .searchicon {
        display: none;
    }
    .search {
        position: relative;
        left: 2%;
    }
    .searchbar {
       line-height: 36px;
    }
}
@media only screen and (max-width: 599px) {
    .mat-toolbar-row, .mat-toolbar-single-row {
        height: 64px !important;
    }
}
@media only screen and (max-width: 450px) {
    .searchbar {
      display: block;
      min-height: 50px;
      margin: 0 9% !important;
      position: relative;
      top: 15%;
    }
    mat-toolbar-row {
        display: block !important;
    }
    .logo {
        display: none;
    }
    .search {
        margin-left: 5%;
    }
    .menubutton {
        position: relative;
        top: 15%;
    }
  }
@media only screen and (max-width: 390px) {
    .searchbar {
        display: block;
        min-height: 50px;
        margin: 0 8% !important;
    }
    .logo {
        display: none;
    }   
}
@media only screen and (max-width: 350px) {
    .searchbar {
        display: block;
        margin: 0 7% !important;
    }
    .logo {
        display: none;
    }   
}
mat-toolbar {
    background-color: #081B2A !important;
}
.menubutton {
    color: white;
    float: left;
    position: relative;
    bottom: 4%;
}
.logo {
    /* -webkit-filter: drop-shadow(0px 0px 6px white);
    filter: drop-shadow(0px 0px 6px white); */
    filter: brightness(110%);
    padding-left: 1%;
    float: left;
}
.searchbar {
    margin-left: 7%;
    width: 70%;
    height: 70%;
    min-height: 40px;
    background-color: white;
    border-radius: 6px;
    float: left;
    box-shadow:inset 0 0 1px 1px #888;
    background: #fff;
}
.searchbutton {
    margin: 3px 0px;
    padding: 0 4px;
    width: 5%;
}
.searchbutton:hover {
    background-color: rgba(0, 59, 115, 0.103);
    border-radius: 8px;
}
.searchicon {
    color: black;
}
.searchicon:hover {
    color: rgb(0, 60, 115);
}
.search {
    position: relative;
    top: 3px;
    width: 92%;
    height: 50%;
    border: none;
    font-size: 1em;
    outline: none;
}
.clearfix {
    clear: left;
}
.data-option {
    width: 140% !important;
}
