<mat-toolbar color="primary">
  <mat-toolbar-row>
<!-- Menu and title -->
    <button class="menubutton" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="title" (click)="toHome()">Ricerca Commesse</h1>
<!-- Menu and title -->
<!-- Searchbar -->
    <form class="searchbar" [ngStyle]="{'background-color': searchColor}">
      <mat-icon class="searchicon" [ngStyle]="{'color': iconColor}">search</mat-icon>
      <input [matAutocomplete]="auto" 
             autocomplete="off" 
             matInput 
             class="search" 
             type="text" 
             placeholder="Ricerca..." 
             [(ngModel)]="value" 
             name="input" 
             (focus)="onFocus()"
             (focusout)="onFocusOut()"
             (ngModelChange)="onKeyUp(value)"
             (keydown.enter)="$event.preventDefault(); selectOption(value)">
      <button  mat-icon-button class="cancel" (click)="cleanValue()">
        <mat-icon class="cancel" [ngStyle]="{'color': iconColor}">clear</mat-icon>
      </button>
      <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
        <mat-option #option class="data-option" value="{{value}}" *ngFor="let item of searchResultInternal; trackBy: trackByFn;" (click)="selectOption(value)">{{value}} ({{item.count}})</mat-option>
        <mat-option #option class="data-option" value="{{value}}" *ngFor="let item of searchResultProjectManager; trackBy: trackByFn;" (click)="selectOption(value)">{{item.data[0].comCp}} - {{item.data[0].cpCognome}} {{item.data[0].cpNome}} ({{item.count}})</mat-option>
        <mat-option #option class="data-option" value="{{value}}" *ngFor="let item of searchResultCustomer; trackBy: trackByFn;" (click)="selectOption(value)">{{item.data[0].cliId}} - {{item.data[0].comCliente}} ({{item.count}})</mat-option>
        <mat-option #option class="data-option" value="{{value}}" *ngFor="let item of searchResultCostCenter; trackBy: trackByFn;" (click)="selectOption(value)">{{item.data[0].cdcCodice}} - {{item.data[0].cdcDescrizione}} ({{item.count}})</mat-option>
        <mat-option #option class="data-option" value="{{value}}" *ngFor="let item of searchResultResponsible; trackBy: trackByFn;" (click)="selectOption(value)">{{item.data[0].cdcResponsabile}} - {{item.data[0].respCognome}} {{item.data[0].respNome}} ({{item.count}})</mat-option>
        <mat-option #option class="data-option" value="{{value}}" *ngFor="let item of searchResultCommercial; trackBy: trackByFn;" (click)="selectOption(value)">{{item.data[0].comFunzionario}} - {{item.data[0].funzCognome}} {{item.data[0].funzNome}} ({{item.count}})</mat-option>
      </mat-autocomplete>
    </form>
<!-- Searchbar -->
<!-- Buttons -->
    <button mat-icon-button class="iconButton"><mat-icon class="icon">help</mat-icon></button>
    <button mat-icon-button class="iconButton"><mat-icon class="icon">person_pin</mat-icon></button>
    <button mat-icon-button class="menuIconButton"><mat-icon class="menuIcon">more_vert</mat-icon></button>
<!-- Buttons -->
  </mat-toolbar-row>
</mat-toolbar>
