@media only screen and (max-width: 840px) {
    .searchbutton {
        display: none;
    }
    .searchicon {
        display: none;
    }
    .search {
        position: relative;
        left: 2%;
    }
    .searchbar {
       line-height: 46px;
    }
}
@media only screen and (max-width: 450px) {
    .searchbar {
      display: block;
      min-height: 50px;
      margin: 0 60px !important;
    }
    mat-toolbar-row {
        display: block !important;
    }
    mat-toolbar {
        height: 105px;
    }
    .logo {
        margin: 0 80px;
        display: block;
    }
    .search {
        margin-left: 5%;
    }
  }
@media only screen and (max-width: 385px) {
    .searchbar {
        display: block;
        min-height: 50px;
        margin: 0 55px !important;
    }
    .logo {
        margin: 0 60px !important;
        display: block;
    }   
}
@media only screen and (max-width: 350px) {
    .searchbar {
        display: block;
        margin: 0 40px !important;
    }
    .logo {
        margin: 0 30px !important;
        display: block;
    }   
}
mat-toolbar {
    background-color: #081B2A !important;
}
.menubutton {
    color: white;
    float: left;
}
.logo {
    /* -webkit-filter: drop-shadow(0.5px 0.5px 0 white);
    filter: drop-shadow(0.5px 0.5px 0 white); */
    filter: brightness(140%);
    padding-left: 1%;
    float: left;
}
.searchbar {
    margin-left: 7%;
    width: 70%;
    height: 80%;
    min-height: 50px;
    background-color: white;
    border-radius: 6px;
    float: left;
    box-shadow:inset 0 0 1px 1px #888;
    background: #fff;
}
.searchbutton {
    margin: 6px 0px;
    padding: 0 6px;
    width: 5%;
}
.searchicon {
    color: black;
}
.search {
    position: relative;
    top: 7%;
    width: 92%;
    height: 50%;
    border: none;
    font-size: 1em;
    outline: none;
}
.clearfix {
    clear: left;
}
.data-option {
    width: 140% !important;
}
