.header-container {
  margin: 0px 2px;
  box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.7);
}
.header{
  color: rgb(2, 9, 23, 0.6);
  background-color: rgb(58, 152, 219, 0.5);
  text-align: center;
  padding-top: 12px;
}
mat-list {
  padding: 0;
}
.paginator-container {
}
.paginator-option {
  background-color: rgb(58, 152, 219, 0.5);
}
.list {
  padding: 10px 10px;
}
.contentlist {
  background-color: rgb(99, 142, 207, 0.10);
  padding: 15px 15px;
  box-shadow: 3px 3px 4px -1px rgba(0,0,0,0.7);
}
.list-item {
  background-color: rgba(255, 255, 255, 0.60);
  box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.7);
}
