/* Customizes paginator */
.header-container {
  margin: 0px 2px;
  box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.7);
}
.paginator-option {
  background-color: rgb(58, 152, 219, 0.5);
}
.paginator-container {
  height: 50px !important;
}
.mat-paginator-outer-container {
  height: 50px !important;
}
mat-paginator {
  height: 50px !important;
}
.paginator {
  margin: 0;
  padding: 0;
}
/* Customizes background of the content below the paginator */
.list {
  padding: 2px 2px;
}
.contentlist {
  background-color: rgba(255, 255, 255, 0.1);
}
/* Customizes border of the box with results */
mat-list {
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.034);
}
/* Customizes elements containing results */
.viewport {
  height: 70vh;
  width: 100%;
}
.viewport-item {
  height: 55px;
  width: 100%;
}
.viewport-item-title {
  background-color: rgba(255, 255, 255, 0.959);
  box-shadow: 0px 0px 1px -1px rgba(0,0,0,1);
  height: 100%;
  padding-left: 3%;
  padding-top: 0.5%;
  margin: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.034);
}
.first {
  border-top: 0.5px solid rgba(0, 0, 0, 0.054);
}
/* Customizes last element in the result list */
.last {
  min-height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.945);
}
/* Customizes progress bar */
.progress-bar {
  height: 8px !important;
}