<!-- Header -->
<div class="header-container">
  <mat-grid-list cols="1">
      <div class="header">
        <h1>Content list</h1>
      </div>
  </mat-grid-list>
  <!-- Paginator -->
  <mat-grid-list cols="1" class="paginator-container">
      <div class="paginator">
        <mat-paginator class="paginator-option"
                      [length]="100"
                      [pageSize]="10"
                      [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
  </mat-grid-list>
</div>
<!-- Include ngFor here -->
<mat-grid-list cols="1" class="list" >
    <div class="contentlist">
      <mat-list>
        <mat-list-item *ngFor="let result of results" class="list-item">
          <h4 mat-line>{{result.name}}</h4>
          <p mat-line></p>
        </mat-list-item>
      </mat-list>
    </div>
</mat-grid-list>
