<!-- Header -->
<div class="header-container">
  <!-- Paginator -->
  <mat-grid-list cols="1" class="paginator-container">
      <div class="paginator">
        <mat-paginator class="paginator-option"
                      [length]="length"
                      [pageIndex]="pageIndex"
                      [pageSize]="pageSize"
                      [pageSizeOptions]="pageSizeOptions"
                      (page)="onPageChanged($event)">
        </mat-paginator>
      </div>
  </mat-grid-list>
</div>
<!-- List -->
<div class="list" >
    <div class="contentlist">
      <mat-list>
        <span id="loading" *ngIf="!results">
          <mat-progress-bar class="progress-bar"
            mode="indeterminate">
          </mat-progress-bar>
        </span>
        <cdk-virtual-scroll-viewport itemSize="20" class="viewport">
          <div *cdkVirtualFor="let result of activePageDataChunk;
                               let first = first;
                               let last = last; 
                               trackBy: trackByFn" 
                class="viewport-item" 
                [class.last] = "last"
                [class.first] = "first">
            <p class="viewport-item-title">
              {{result[categories[0]]}} - {{ result[categories[1]] }} <ng-container *ngIf="result[categories[3]] != ''">(Genres: {{ result[categories[3]] }})</ng-container><br>
              <ng-container *ngIf="result[categories[2]] != ''">(Cast: {{ result[categories[2]] }})</ng-container>
            </p>
          </div>
        </cdk-virtual-scroll-viewport>
      </mat-list>
    </div>
  </div>
