<div class="container" [class.is-mobile]="mobileQuery.matches">
<!-- Bar containing filter icons, paginator and sort -->
  <div class="subnavbar">
  <!-- Filter icons -->
    <div class="filterIcons">
      <button class="filterButton" 
              mat-icon-button 
              (click)="toggle()">
        <mat-icon class="arrows" 
                  svgIcon="chevron-double-left" 
                  matListIcon        
                  *ngIf="sidenav.opened"></mat-icon>
        <mat-icon class="arrows" 
                  svgIcon="chevron-double-right" 
                  matListIcon 
                  *ngIf="!sidenav.opened"></mat-icon>
        <mat-icon class="filter1" 
                  svgIcon="filter-outline" 
                  matListIcon 
                  matTooltip="Chiudi sfaccettatura" 
                  *ngIf="sidenav.opened"></mat-icon>
        <mat-icon class="filter1" 
                  svgIcon="filter-outline" 
                  matListIcon 
                  matTooltip="Apri sfaccettatura" 
                  *ngIf="!sidenav.opened"></mat-icon>
      </button>
      <button class="filterButton" 
              mat-icon-button 
              (click)="resetAll()" >
          <mat-icon class="filter2" 
                    svgIcon="filter-outline" 
                    matListIcon 
                    matTooltip="Rimuovi filtri"></mat-icon>
          <mat-icon class="reset" 
                    svgIcon="close" 
                    matListIcon></mat-icon>
        </button>
    </div>
  <!-- Filter icons -->
  <!-- Paginator -->
    <div class="paginator">
      <mat-paginator #paginator
                     [length]="length"
                     [pageIndex]="pageIndex"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="onPageChanged($event);">    
      </mat-paginator>
    </div>
  <!-- Paginator -->
  <!-- Sort -->
    <div class="sorting">
      <button mat-icon-button 
              class="sortButton" 
              (click)="sortResults()">
        <mat-icon svgIcon="arrow-collapse-up" 
                  *ngIf="descending"
                  matTooltip="Ascendente" 
                  class="sortIcon"></mat-icon>
        <mat-icon svgIcon="arrow-collapse-down" 
                  *ngIf="!descending"
                  matTooltip="Discendente" 
                  class="sortIcon"></mat-icon>
      </button>
      <mat-form-field class="no-line">
          <mat-select placeholder="Ordina per" 
                      panelClass="sortPanel"
                      [(ngModel)]="option">  
            <mat-option *ngFor="let option1 of options" 
                        (click)="sortAllResults()"
                        value="{{option1.id}}">{{option1.value}}</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div class="endSidenavOpen">
      <button  mat-icon-button 
              (click)="snav1.toggle()"
              *ngIf="sidenav1.opened">
        <mat-icon matTooltip="Chiudi dettagli">toggle_on</mat-icon>
      </button>
    </div>
  <!-- Sort -->
  </div>
<!-- Bar containing filter icons, paginator and sort -->
<!-- Container -->
  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
  <!-- Sidenav -->
    <mat-sidenav #snav
                 [opened]="mobileQuery.matches ? 'false' : 'true'" 
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" 
                 [fixedTopGap]="mobileQuery.matches ? 97 : 97">
      <perfect-scrollbar [config]="config">
      <mat-expansion-panel [disabled]="chosenFilters.length === 0" 
                           [expanded]="chosenFilters.length !== 0">
        <mat-expansion-panel-header class="noSelect">
          <mat-panel-title>
            <div matBadge="{{chosenFilters.length}}" 
                 matBadgeSize="medium" 
                 matBadgeOverlap="false"
                 [ngClass]="{'noFilters': chosenFilters.length === 0}"></div>
            <span [ngClass]="{'includeMargin': chosenFilters.length === 0}">Filtri selezionati</span> 
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip class="chipContainer mat-elevation-z4" 
                    *ngFor="let item of chosenFilters">
            <div class="chipItem noSelect">
              <img class="chipImg" 
                   src="../../../assets/sitemap.png" 
                   alt="icon" 
                   *ngIf="item.icon==='sitemap'" 
                   width="22px" 
                   height="22px">
              <mat-icon class="chipIcons" 
                        *ngIf="item.icon!=='sitemap'"
                        >{{item.icon}}
              </mat-icon><span *ngIf="item.cat === 'l136' || item.cat === 'tr' || item.cat === 'ta' || item.cat === 'lp' || item.cat === 't8'">{{item.cat | uppercase }}:</span> {{item.descr}}
            </div>
            <mat-icon matChipRemove 
                      class="cancelIcon noSelect" 
                      (click)="disableOption(item); onNgModelChange();">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-expansion-panel>
      <mat-nav-list class="facet">
        <mat-expansion-panel [expanded]="i &lt; 2" 
                             [hideToggle]="hideToggleArrow(i)"
                             *ngFor="let category of categories; trackBy: trackByFn; let i = index"
                             (opened)="refreshChartFacets(i);">
          <mat-expansion-panel-header>  
            <mat-panel-title class="noSelect">
              <mat-icon class="catIcon" 
                        matListIcon 
                        *ngIf="category.id != 'cdc'">{{ category.icon }}</mat-icon>
                <img src="../../../assets/sitemap.png" 
                     alt="icon" 
                     width="27px" 
                     height="27px" 
                     *ngIf="category.id == 'cdc'">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                  <span class="categoryTitle" 
                        *ngIf="category.id != 'rcdc'">{{ category.value }}
                  </span>
                  <span class="categoryTitleLong" 
                        *ngIf="category.id == 'rcdc'">{{ category.value }}
                  </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent 
                       *ngIf="category.id != 'anno'">
            <mat-selection-list dense>
              <mat-list-option *ngFor="let checkbox of checkboxes[category.id]; trackBy: trackByFn;"
                               (click)="select(checkbox.code, category.id); moveToChosen(checkbox, category.icon, category.id); onNgModelChange();"
                               [selected]="selectedFilters[category.id].includes(checkbox.code)"
                               [value]="checkbox.code">
                <mat-icon matListIcon 
                          class="noSelect"
                          *ngIf="category.id != 't8' && category.id != 'l136' && category.id != 'tr' && category.id != 'ta'">keyboard_arrow_right
                </mat-icon>
                <mat-icon matListIcon 
                          class="noSelect"
                          *ngIf="category.id == 't8' && checkbox.descr == 'N'">close
                </mat-icon>
                <mat-icon matListIcon 
                          class="noSelect"
                          *ngIf="category.id == 't8' && checkbox.descr == 'S'">check
                        </mat-icon>
                <mat-icon matListIcon 
                          class="noSelect"
                          *ngIf="category.id == 'l136' && checkbox.code == '1'">close
                </mat-icon>
                <mat-icon matListIcon 
                          class="noSelect"
                          *ngIf="category.id == 'l136' && checkbox.code == '2'">check
                </mat-icon>
                <mat-icon matListIcon 
                          class="noSelect"
                          *ngIf="category.id == 'l136' && checkbox.code == '3'">timer
                </mat-icon>
                <mat-icon matListIcon 
                          class="noSelect"
                          *ngIf="category.id == 'l136' && checkbox.code == '4'">priority_high
                </mat-icon>
                <mat-icon matListIcon 
                          class="noSelect"
                          *ngIf="category.id == 'tr'">euro_symbol
                </mat-icon>
                <mat-icon matListIcon 
                          class="noSelect"
                          *ngIf="category.id == 'ta' && checkbox.descr != 'C' && checkbox.descr != 'P' && checkbox.descr != 'E' && checkbox.descr != 'L' && checkbox.descr != 'R'">trending_up
                </mat-icon>
                <mat-icon matListIcon 
                          class="noSelect"
                          *ngIf="category.id == 'ta' && checkbox.descr == 'C'">account_balance_wallet
                </mat-icon>
                <mat-icon matListIcon 
                          class="noSelect"
                          *ngIf="category.id == 'ta' && checkbox.descr == 'P'">timer
                </mat-icon>
                <mat-icon matListIcon 
                          class="noSelect"
                          *ngIf="category.id == 'ta' && checkbox.descr == 'E'">event
                </mat-icon>
                <mat-icon matListIcon 
                          class="noSelect"
                          *ngIf="category.id == 'ta' && checkbox.descr == 'L'">euro_symbol
                </mat-icon>
                <mat-icon matListIcon 
                          class="noSelect"
                          *ngIf="category.id == 'ta' && checkbox.descr == 'R'">directions_run
                </mat-icon>
                <p class="noSelect" *ngIf="category.id !== 'cdc' && category.id !== 'rcdc' && category.id !== 'cp' && category.id !== 'fun'">{{ checkbox.descr }} ({{ checkbox.count }})</p>
                <p class="noSelect" *ngIf="category.id === 'cdc' || category.id === 'rcdc' || category.id === 'cp' || category.id === 'fun'">{{ checkbox.code }} - {{ checkbox.descr }} ({{ checkbox.count }})</p>
              </mat-list-option>
              <button mat-raised-button 
                      class="moreButton"
                      [disabled]="!hasMore[category.id]"
                      *ngIf="checkboxes[category.id]?.length >= 5 && category.id != 'tr'"       
                      (click)="showMore(category.id)">Mostra di più</button>
              <button mat-raised-button 
                      class="moreButton" 
                      *ngIf="numMore[category.id] > 1"
                      (click)="showLess(category.id)">Mostra meno</button>
            </mat-selection-list>
          </ng-template>
          <ng-template matExpansionPanelContent 
                       *ngIf="category.id == 'anno'">
            <canvas baseChart 
                    *ngIf="barChartData[0].data.length > 0"
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [colors]="barChartColors"
                    [chartType]="barChartType"
                    (chartClick)="chartClicked($event); ">
            </canvas>
            <div class="chipTable">
              <mat-chip-list #chipTable>
                <mat-chip class="mat-elevation-z4 noSelect chipContainer" 
                          *ngFor="let item of barSelected" 
                          (removed)="removeBarSelected(item)">{{item}}
                  <mat-icon matChipRemove 
                            class="removeIcon">cancel
                  </mat-icon>
                </mat-chip>
              </mat-chip-list>
            </div>
          </ng-template>
        </mat-expansion-panel>
      </mat-nav-list>
    </perfect-scrollbar>
    </mat-sidenav>
  <!-- Sidenav -->
  <!-- Content -->
    <mat-sidenav-content>
      
      <ngx-loading [show]="loading" 
                   [config]="{animationType: ngxLoadingAnimationTypes.circle, primaryColour: primaryColour, secondaryColour: secondaryColour, backdropBorderRadius: '3px'}">
      </ngx-loading>
     
      <cdk-virtual-scroll-viewport [itemSize]="137.5" 
                                   class="viewport" [perfectScrollbar]="config">
        <div class="noResults" 
             *ngIf="length === 0" 
             [ngStyle]="{'display': ifVisible}">
          <img class="responsive noSelect" 
               src="../../../assets/noResults.png" 
               alt="pic">
          <p class="noResultsText noSelect">Siamo spiacenti, nessun risultato trovato per la domanda selezionata
          </p><br>
          <p class="noResultsText"><a class="noResultsLink" (click)="resetAll()">Resetta la ricerca</a></p>
        </div>
        <div *cdkVirtualFor="let item of activePageDataChunk; let last = last" 
              class="viewport-item mat-elevation-z1 noSelect"
              [class.last]="last"
              (click)="openSidenav(item); snav1.open();"
              cdkVirtualForTrackBy='trakByFn()'>
          <div class="round mat-elevation-z4"
               [ngClass]="{
                 'hideOnSmall': mobileQuery.matches,
                 'soc1': item.socCodice == 'E',
                 'soc2': item.socCodice == 'R',
                 'soc3': item.socCodice == 'M',
                 'soc4': item.socCodice == 'O',
                 'soc5': item.socCodice == 'F',
                 'soc6': item.socCodice == 'X',
                 'soc7': item.socCodice == 'I',
                 'soc8': item.socCodice == 'V',
                 'soc9': item.socCodice == 'B',
                 'soc10': item.socCodice == 'L',
                 'soc11': item.socCodice == 'U',
                 'soc12': item.socCodice == 'W',
                 'soc13': item.socCodice == '°',
                 'soc14': item.socCodice == 'A',
                 'soc15': item.socCodice == 'S',
                 'soc16': item.socCodice == 'H',
                 'soc17': item.socCodice == 'Y',
                 'soc18': item.socCodice == 'T',
                 'soc19': item.socCodice == 'K',
                 'soc20': item.socCodice == 'C',
                 'soc21': item.socCodice == '>'
                }">{{ item.comCodice | slice:0:3 }}</div>
          <div class="feature"
               [ngClass]="{'hideOnSmall': mobileQuery.matches}">
            <mat-icon svgIcon="feature-search-outline" 
                      matListIcon>
            </mat-icon>
          </div>
          <div class="viewport-item-title">
            <div class="title">
              <div class="infoFirst">
                <span class="code">{{ item.comCodice }}</span> {{item.comDescrizione}}
              </div>
              <div class="info">
                <div class="infoIcon">
                  <mat-icon matTooltip="Cliente">account_box</mat-icon>
                </div>
                <span class="code">{{ item.cliId }}</span>{{ item.comCliente }} 
              </div>
              <br>
              <div class="info">
                  <div class="infoIcon">
                    <img class="cdcIcon" 
                         src="../../../assets/sitemap.png" 
                         alt="icon" 
                         width="22px" 
                         height="22px"                        
                         matTooltip="Centro di Costo">
                  </div>
                  <span class="code">{{item.cdcCodice}}</span>{{item.cdcDescrizione}}, {{item.cdcBusinessUnit}}
              </div>
              <br>
              <div class="info">
                <div class="infoIcon">
                  <mat-icon matTooltip="CDC Responsabile">visibility</mat-icon>
                </div>
                <span class="code">{{ item.cdcResponsabile }}</span>{{ item.respCognome }} {{ item.respNome }}
                <div class="infoIcon">
                  <mat-icon [ngStyle]="
                    item.socCodice === 'E' && {'color': '#0277bd'} ||
                    item.socCodice === 'R' && {'color': '#c72187'} ||
                    item.socCodice === 'M' && {'color': '#3cada6'} ||
                    item.socCodice === 'O' && {'color': '#835104'} ||
                    item.socCodice === 'F' && {'color': '#cfb365'} ||
                    item.socCodice === 'X' && {'color': '#7372db'} ||
                    item.socCodice === 'I' && {'color': '#009c34'} ||
                    item.socCodice === 'V' && {'color': '#479b9e'} ||
                    item.socCodice === 'B' && {'color': '#BF320C'} ||
                    item.socCodice === 'L' && {'color': '#ee003b'} ||
                    item.socCodice === 'U' && {'color': '#FAB11D'} ||
                    item.socCodice === 'W' && {'color': '#87b800'} ||
                    item.socCodice === '°' && {'color': '#b90072'} ||
                    item.socCodice === 'A' && {'color': '#cf6a56'} ||
                    item.socCodice === 'S' && {'color': '#ae68d1'} ||
                    item.socCodice === 'H' && {'color': '#4b0c0c'} ||
                    item.socCodice === 'Y' && {'color': '#c48e19'} ||
                    item.socCodice === 'T' && {'color': '#314a53'} ||
                    item.socCodice === 'K' && {'color': '#927687'} ||
                    item.socCodice === 'C' && {'color': '#00b8ae'} ||
                    item.socCodice === '>' && {'color': '#8936dc'}"
                    matTooltip="Azienda">
                    business
                  </mat-icon>
                </div>
                <span class="code">{{ item.socCodiceSap }}</span>{{ item.socDescrizione }}
              </div>
              <div class="info">
                <div class="infoIcon">
                  <mat-icon class="statusIconC" 
                            *ngIf="item.comStato=='C'"
                            matTooltip="Stato">assignment_turned_in
                  </mat-icon>
                  <mat-icon class="statusIconA" 
                            *ngIf="item.comStato=='A'"
                            matTooltip="Stato">assignment
                  </mat-icon>
                  <mat-icon class="statusIconS" 
                            *ngIf="item.comStato=='S'"
                            matTooltip="Stato">assignment_returned
                  </mat-icon>
                  <mat-icon class="statusIconI" 
                            *ngIf="item.comStato=='I'"
                            matTooltip="Stato">assignment_late
                  </mat-icon>
                  <div class="inline-block">
                    <mat-icon matTooltip="Anno">
                      date_range
                    </mat-icon>
                    <div class="iconText">{{item.anno}}
                    </div>
                  </div>
                  <div [ngClass]="{'goodStatus': ((item.ricaviC12-item.costiC12) &gt; 0), 'badStatus': ((item.costiC12-item.ricaviC12) &gt; 0), 'neutralStatus': (item.costiC12==item.ricaviC12)}">
                    <mat-icon class="bigcrIcon" matTooltip="Costi">
                      euro_symbol
                    </mat-icon>
                    <mat-icon class="crIcon">
                      remove
                    </mat-icon>
                    <div class="iconText">{{item.costiC12 | currency:'EUR':'':'1.2-2':'it'}}
                    </div>
                    <mat-icon class="bigcrIcon" matTooltip="Ricavi">
                        euro_symbol
                    </mat-icon>
                    <mat-icon class="crIcon">
                        add
                    </mat-icon>
                    <div class="iconText">{{item.ricaviC12 | currency:'EUR':'':'1.2-2':'it'}}
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </mat-sidenav-content>
    <!-- Right sidenav -->
    <mat-sidenav  class="endSidenav" 
                  #snav1 
                  [opened]="false" 
                  [mode]="mobileQuery.matches ? 'over' : 'side'"
                  [fixedInViewport]="mobileQuery.matches" 
                  [fixedTopGap]="mobileQuery.matches ? 97 : 97"
                  [position]="'end'">
      <perfect-scrollbar [config]="config">
        <app-dialog></app-dialog>
      </perfect-scrollbar>
    </mat-sidenav>
  <!-- Content -->
  </mat-sidenav-container>
<!-- Container -->
</div>