/* Responsive */
@media only screen and (max-width: 3000px) {
    mat-sidenav.endSidenav {
        width: 500px !important; 
    }
}
@media only screen and (max-width: 1470px) {
    .filterIcons {
        width: 30% !important;
    }
    .sorting {
        width: 20% !important;
    }
    .endSidenavOpen {
        width: 5% !important;
    }
    mat-sidenav.endSidenav {
        width: 420px !important; 
    } 
}
@media only screen and (max-width: 1300px){
    .filterIcons {
        width: 15% !important;
    }
    .sorting {
        width: 30% !important;
    }
    .paginator {
        width: 52% !important;
    } 
}
@media only screen and (max-width: 1100px) {
    .filterIcons {
        width: 18% !important;
    }
    .sorting {
        width: 29% !important;
    }
    .paginator {
        width: 48% !important;
    }
    mat-sidenav.endSidenav {
        width: 400px !important; 
    }
}
@media only screen and (max-width: 880px) {
    .filterIcons {
        width: 15% !important;
    }
    .paginator {
        width: 51% !important;
    }
    mat-sidenav.endSidenav {
        width: 300px !important; 
    }
}
@media only screen and (max-width: 830px) {
    ::ng-deep .mat-paginator-page-size-label {
        display: none !important;
    }
    .filterIcons {
        width: 16% !important;
    }
    .sorting {
        width: 32% !important;
    }
    .paginator {
        width: 46% !important;
    }
    .endSidenavOpen {
        width: 6% !important;
    }
    .hideOnSmall {
        display: none !important;
    }
}
@media only screen and (max-width: 735px) {
    ::ng-deep .mat-paginator-range-label {
        display: none !important;
    }
    .filterIcons {
        width: 20% !important;
    }
    .sorting {
        width: 36% !important;
    }
    .paginator {
        width: 38% !important;
    }
}
@media only screen and (max-width: 630px) {
    .filterIcons {
        width: 22% !important;
    }
    .sorting {
        width: 40% !important;
    }
    .paginator {
        width: 30% !important;
    }
    .endSidenavOpen {
        width: 7% !important;
    } 
}
@media only screen and (max-width: 600px) {
    ::ng-deep .mat-paginator-range-label, ::ng-deep .mat-paginator-page-size-label {
        display: none !important;
    }
    .filterIcons {
        width: 21% !important;
    }
    .paginator {
        width: 31% !important;
    }
}
@media only screen and (max-width: 550px){
    .filterIcons {
        width: 37% !important;
    }
    .sorting {
        display: none;
    }
    .paginator {
        width: 55% !important;
    }
    .endSidenavOpen {
        width: 8% !important;
    } 
}
@media only screen and (max-width: 430px) {
    ::ng-deep .mat-paginator-range-label, ::ng-deep .mat-paginator-page-size-label {
        display: none !important;
    }
    .paginator {
        width: 55% !important;
    }
    .endSidenavOpen {
        width: 11% !important;
    }
    .filterIcons {
        width: 36% !important;
    } 

}
.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 48px);
}
/* Bar containing filter icons, paginator and sort */
.subnavbar {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
}
/* Filter icons */
.filterIcons {
    color: black;
    width: 32%;
    background-color: rgb(242, 242, 242);
}
.filterButton {
    margin-left: 15px;
    margin-top: 4px;
}
.arrows {
    position: relative;
    transform: scale(0.7);
    top: 2px;
}
.filter1 {
    position: relative;
    right: 15px;
}
.filter2 {
    position: relative;
    left: 3px;
}
.reset {
    position: relative;
    transform: scale(0.65);
    right: 10px;
}
/* Paginator */
.paginator {
    width: 50%;
}
mat-paginator {
    background-color: rgb(242, 242, 242) !important;
    min-height: 0 !important;
} 
::ng-deep .mat-paginator-outer-container {
    height: 49px !important;
    min-height: 0 !important;
}
::ng-deep .mat-paginator-container {
    height: 49px !important;
    min-height: 0 !important;
}
/* Sort */
.sorting {
    width: 15%;
    max-height: 49px;
    background-color: rgb(242, 242, 242);
}
.sortButton {
    position: relative;
    bottom: 3px;
    color: rgb(111, 111, 111);
}
.sortIcon {
    transform: scale(0.8);
}
.endSidenavOpen {
    width: 3%;
    background-color: rgb(242, 242, 242);
    padding: 5px 5px 0 0;
    color: rgb(111, 111, 111);
}
.mat-form-field {
    font-size: 15px !important;
}
::ng-deep .no-line .mat-form-field-underline {
    display: none;
}
::ng-deep .mat-select-value {
    color: rgb(147, 147, 147) !important;
}
/* Sidenav customization */
.facet.mat-nav-list {
    padding-top: 0;
}
.mat-drawer-backdrop {
    width: 100%;
}
.mat-drawer-container {
    background-color: white !important;
}
mat-sidenav {
    width: 300px !important; 
}
::ng-deep mat-sidenav.endSidenav > .mat-drawer-inner-container {
    background-color: white !important;
}
mat-panel-title {
    font-size: 1.3em;
}
::ng-deep .mat-content {
    padding: 20px 0 !important;
}
mat-expansion-panel {
    margin: 3px 0;
    background-color: rgba(245, 245, 245, 0.01);
}
mat-selection-list {
    outline: none;
}
.mat-badge {
    top: 11px !important;
    left: 2px !important;
    margin-right: 47px !important;
}
.mat-badge-content.mat-badge-active {
    background-color: #0277bd !important;
}
.sidenav-container {
/* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
    causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}
.is-mobile .sidenav-container {
/* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
    `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}
::ng-deep mat-pseudo-checkbox.mat-pseudo-checkbox.mat-pseudo-checkbox-checked {
    background: #0277bd !important;
}
.moreButton {
    margin-left: 4px;
    margin-right: 4px;
    color: #00639e;
    border-radius: 20px;
}
.catIcon {
    color: #000000 !important;
    margin-top: -1px;
}
.catIconCdc {
    color: #000000 !important;
    margin-left: 2px !important;
}
.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
::ng-deep .mat-drawer-inner-container {
    background-color: #f2f2f2 !important;
}
/* Viewport content */
.viewport {
    height: calc(100vh - 98px) !important;
    width: 100%;
}
::ng-deep .cdk-virtual-scroll-content-wrapper {
    position: relative !important;
}
.viewport-item {
    height: 130px;
    width: 100%;
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 2px;
    border-radius: 3px;
}
.viewport-item:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}
.viewport-item:hover > .round {
    display: none;
}
.viewport-item:hover > .feature {
    display: block;
}
.viewport-item-title {
    margin: 0;
    width: 90%;
}
.feature {
    display: none;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    transform: scale(1.2);
    margin: 40px 0 0 30px;
}
.round {
    border-radius: 50%;
    background-color: #1eff00;
    min-width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    color: white;
    line-height: 60px;
    font-size: 1.2em;
    margin: 33px 0 0 30px;
}
.soc1 {
    background-color: #0277bde6 !important;
}
.soc2 {
    background-color: #c72187e6 !important;
}
.soc3 {
    background-color: #3cada6e6 !important;
}
.soc4 {
    background-color: #835104e6 !important;
}
.soc5 {
    background-color: #cfb365e6 !important;
}
.soc6 {
    background-color: #7372dbe6 !important;
}
.soc7 {
    background-color: #009c34e6 !important;
}
.soc8 {
    background-color: #479b9ee6 !important;
}
.soc9 {
    background-color: #BF320Ce6 !important;
}
.soc10 {
    background-color: #ee003be6 !important;
}
.soc11 {
    background-color: #FAB11De6 !important;
}
.soc12 {
    background-color: #87b800e6 !important;
}
.soc13 {
    background-color: #b90072e6 !important;
}
.soc14 {
    background-color: #cf6a56e6 !important;
}
.soc15 {
    background-color: #ae68d1e6 !important;
}
.soc16 {
    background-color: #4b0c0ce6 !important;
}
.soc17 {
    background-color: #c48e19e6 !important;
}
.soc18 {
    background-color: #314a53e6 !important;
}
.soc19 {
    background-color: #927687e6 !important;
}
.soc20 {
    background-color: #00b8aee6 !important;
}
.soc21 {
    background-color: #8936dce6 !important;
}
.hideOnSmall {
    display: none !important;
}
.infoIcon {
    position: relative;
    top: 5px;
    left: 1px;
    display: inline-block;
    color: rgb(98, 98, 98);
}
.cdcIcon {
    padding-right: 2px;
    filter: opacity(0.6);
}
.material-icons {
    font-size: 22px !important;
}
.material-icons.catIcon {
    font-size: 27px !important;
}
.infoFirst {
    font-size: 18px;
    color: rgb(2, 119, 189) !important;
    display: inline-block;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-height: 4.5em;
    line-height: 1em;
    letter-spacing: 2px;
}
.infoFirst > .code {
    color: rgb(2, 119, 189);
}
.info {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 17px;
    position: relative;
    bottom: 6px;
    display: inline-block;
    letter-spacing: 1px;
    color: rgba(75, 77, 78, 0.801);
}
.title {
    width: 97%;
    padding-left: 3%;
}
.statusIconC {
    color: rgb(30, 145, 30);
    position: relative;
    top: 0.8px;
}
.statusIconA {
    color: rgb(2, 119, 189);
    position: relative;
    top: 0.8px;
}
.statusIconS {
    color: rgb(132, 134, 132);
    position: relative;
    top: 0.8px;
}
.statusIconI {
    color: rgb(222, 178, 47);
    position: relative;
    top: 0.8px;
}
.iconText {
    position: relative;
    bottom: 5px;
    display: inline-block;
}
.goodStatus {
    display: inline-block;
    color: rgb(36, 146, 32);
}
.badStatus {
    display: inline-block;
    color: rgb(228, 45, 45);
}
.neutralStatus {
    display: inline-block;
    color: rgb(142, 163, 199);
}
.bigcrIcon {
    position: relative;
    left: 16px;
}
.crIcon {
    transform: scale(0.7);
    position: relative;
    left: 5px;
}
.code {
    font-weight: 700;
    text-decoration-line: underline;
    display: inline-block;
    margin-right: 12px;
    margin-left: 3px;
    letter-spacing: 1px;
    color: rgba(72, 72, 80, 0.98);
}
.mat-form-field.mat-focused.mat-form-field-label {
    color: #0277bd !important;
}
.flex {
    display: block;
}
.row {
    display: flex;
    width: 100%;
}
.categoryTitle {
    font-size: 20px;
}
.categoryTitleLong {
    font-size: 18px;
}
.chipTable {
    width: 101%;
}
.removeIcon {
    font-size: 18px !important;
}
.inline-block {
    display: inline-block;
}
.last {
    border-bottom: 1px solid rgba(165, 162, 162, 0.7);
}
.cancelIcon {
    position: absolute;
    right: 0;
    width: 30px !important;
    height: 22px !important;
    color: rgba(0,0,0,.87) !important;
}
.chipContainer {
    background-color:  rgb(224, 224, 224) !important;
    color: black !important;
    cursor: pointer;
}
.chipItem {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    line-height: 33px;
}
.chipImg {
    position: relative;
    top: 6px;
    margin-right: 2px;  
}
.chipIcons {
    display: inline-block;
    position: relative;
    top: 6px;

}