/* Responsive */
@media only screen and (max-width: 1700px) {
    .title {
        width: 83% !important;
    }
    .statusInfo {
        width: 14% !important;
    }
    .costValue {
        bottom: 5px !important;
    }
}
@media only screen and (max-width: 1470px) {
    .filterIcons {
        width: 30% !important;
    }
    .sorting {
        width: 20% !important;
    }
    .title {
        width: 80% !important;
    }
    .statusInfo {
        width: 17% !important;
    }
}
@media only screen and (max-width: 1300px){
    .title {
        width: 78% !important;
    }
    .statusInfo {
        width: 19% !important;
    }
}
@media only screen and (max-width: 1100px) {
    .filterIcons {
        width: 25% !important;
    }
    .sorting {
        width: 25% !important;
    }
    .title {
        width: 72% !important;
    }
    .statusInfo {
        width: 25% !important;
    }
    .viewport-item-title {
        width: 80% !important;
    }
    .smallFont {
        font-size: 13px;
    }
    .costValue {
        bottom: 6px !important;
    }
}
@media only screen and (max-width: 880px) {
.filterIcons {
    width: 18% !important;
    }
.sorting {
    width: 30% !important;
    }
.paginator {
    width: 52% !important;
    }
    .title {
        width: 75% !important;
    }
    .statusInfo {
        min-width: 22% !important;
    }
    .hideOnSmall {
        display: none !important;
    }
    .hideCosts {
        display: none !important;
    }
    .smallerStatus {
        width: 62% !important;
    }
    .biggerStatus {
        width: 35% !important;
    }
    .viewport-item-title {
        width: 86% !important;
    } 
}
@media only screen and (max-width: 830px) {
    ::ng-deep .mat-paginator-page-size-label {
        display: none !important;
    }
    .title {
        width: 75% !important;
    }
    .statusInfo {
        width: 22% !important;
    }
    .hideOnSmall {
        display: none !important;
    }
    .hideCosts {
        display: none !important;
    }
    .smallerStatus {
        width: 62% !important;
    }
    .biggerStatus {
        width: 35% !important;
    }
}
@media only screen and (max-width: 760px){
    .title {
        width: 75% !important;
    }
    .statusInfo {
        width: 22% !important;
        font-size: 15px;
    }
    .hideOnSmall {
        display: none !important;
    }
    .hideCosts {
        display: none !important;
    }
    .smallerStatus {
        width: 66% !important;
    }
    .biggerStatus {
        width: 31% !important;
    }
}
@media only screen and (max-width: 735px) {
    ::ng-deep .mat-paginator-range-label {
        display: none !important;
    }
    .filterIcons {
        width: 20% !important;
    }
    .sorting {
        width: 35% !important;
    }
    .paginator {
        width: 45% !important;
    }
    .title {
        width: 69% !important;
    }
    .smallerStatus {
        width: 59% !important;
    }
    .code {
        display: block;
    }
    .infoFirst {
        text-overflow: ellipsis !important;
        overflow: hidden !important;
        white-space: normal !important;
        font-size: 15px !important;
        display: inline-block !important;
    }
    .noWrap {
        white-space: nowrap !important;
    }
    .statusInfo {
        width: 28% !important;
    }
    .biggerStatus {
        width: 38% !important;
    }
    .hideCosts {
        display: none !important;
    }
    .info {
        display: none;
    }
    .icons {
        display: block !important;
    }
    .smallFont {
        font-size: 11.5px;
    }
}
@media only screen and (max-width: 630px) {
    .sorting {
        width: 40% !important;
    }
    .paginator {
        width: 40% !important;
    }
    .title {
        width: 67% !important;
    }
    .smallerStatus {
        width: 53% !important;
    }
    .code {
        display: block;
    }
    .infoFirst {
        text-overflow: ellipsis !important;
        overflow: hidden !important;
        white-space: normal !important;
        font-size: 15px !important;
        display: inline-block !important;
    }
    .noWrap {
        white-space: nowrap !important;
    }
    .statusInfo {
        width: 30% !important;
    }
    .biggerStatus {
        width: 44% !important;
    }
    .info {
        display: none;
    }
    .icons {
        display: block !important;
    }
    .smallFont {
        font-size: 13px;
    }
}
@media only screen and (max-width: 600px) {
    ::ng-deep .mat-paginator-range-label, ::ng-deep .mat-paginator-page-size-label {
        display: none !important;
    }
    .container {
        height: calc(100vh - 48px) !important;
        width: 100%;
    }
    .round {
        display: none !important;
    }
    .feature {
        display: none !important;
    }
    .title {
        width: 68% !important;
    }
    .code {
        display: block;
    }
    .infoFirst {
        text-overflow: ellipsis !important;
        overflow: hidden !important;
        white-space: normal !important;
        font-size: 15px !important;
        display: inline-block !important;
    }
    .statusInfo {
        width: 29% !important;
    }
    .info {
        display: none;
    }
    .icons {
        display: block !important;
    }
    .costValue {
        bottom: 5px !important;
    }
}
@media only screen and (max-width: 550px){
    .filterIcons {
        width: 40% !important;
    }
    .sorting {
        display: none;
    }
    .paginator {
        width: 60% !important;
    }
    .statusInfo {
        font-size: 14px;
        width: 32% !important;
    }
    .costValue {
        bottom: 5px !important;
    }
    .title {
        width: 65% !important;
    }
    
}
@media only screen and (max-width: 430px) {
    ::ng-deep .mat-paginator-range-label, ::ng-deep .mat-paginator-page-size-label {
        display: none !important;
    }
    .round {
        display: none !important;
    }
    .feature {
        display: none !important;
    }
    .title {
        width: 55% !important;
    }
    .code {
        display: block;
    }
    .infoFirst {
        text-overflow: clip !important;
        overflow: hidden !important;
        white-space: unset !important;
        font-size: 15px !important;
        display: inline-block !important;
    }
    .statusInfo {
        width: 42% !important;
        font-size: 13px;
    }
    .info {
        display: none;
    }
    .icons {
        display: block !important;
    }
    .minusIcon {
        transform: scale(0.4) !important;
    }
    .plusIcon {
        transform: scale(0.4) !important;
    }
    .costValue {
        bottom: 6px !important;
    }
} 
.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 48px) !important;
}
/* Bar containing filter icons, paginator and sort */
.subnavbar {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
}
/* Filter icons */
.filterIcons {
    color: black;
    width: 35%;
    background-color: rgb(242, 242, 242);
}
.filterButton {
    margin-left: 15px;
    margin-top: 4px;
}
.arrows {
    position: relative;
    transform: scale(0.7);
    top: 2px;
}
.filter1 {
    position: relative;
    right: 15px;
}
.filter2 {
    position: relative;
    left: 3px;
}
.reset {
    position: relative;
    transform: scale(0.65);
    right: 10px;
}
/* Paginator */
.paginator {
    width: 50%;
}
mat-paginator {
    background-color: rgb(242, 242, 242) !important;
    min-height: 0 !important;
} 
::ng-deep .mat-paginator-outer-container {
    height: 49px !important;
    min-height: 0 !important;
}
::ng-deep .mat-paginator-container {
    height: 49px !important;
    min-height: 0 !important;
}
/* Sort */
.sorting {
    width: 15%;
    max-height: 49px;
    background-color: rgb(242, 242, 242);
}
.sortButton {
    position: relative;
    bottom: 3px;
    color: rgb(111, 111, 111);
}
.sortIcon {
    transform: scale(0.8);
}
.mat-form-field {
    font-size: 15px !important;
}
::ng-deep .no-line .mat-form-field-underline {
    display: none;
}
::ng-deep .mat-select-value {
    color: rgb(147, 147, 147) !important;
}
/* Sidenav customization */
.facet.mat-nav-list {
    padding-top: 0;
}
.mat-drawer-backdrop {
    width: 100%;
}
.mat-drawer-container {
    background-color: white !important;
}
mat-sidenav {
    width: 300px !important; 
}
mat-panel-title {
    font-size: 1.3em;
}
mat-expansion-panel {
    margin: 3px 0;
    background-color: rgba(245, 245, 245, 0.01);
}
mat-selection-list {
    outline: none;
}
.sidenav-container {
/* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
    causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}
.is-mobile .sidenav-container {
/* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
    `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}
::ng-deep mat-pseudo-checkbox.mat-pseudo-checkbox.mat-pseudo-checkbox-checked {
    background: #0277bd !important;
}
.moreButton {
    margin-left: 4px;
    margin-right: 4px;
    color: #00639e;
    border-radius: 20px;
}
.catIcon {
    color: #000000 !important;
    margin-top: -1px;
}
.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
::ng-deep .mat-drawer-inner-container {
    background-color: #f2f2f2 !important;
}
/* Viewport content */
.viewport {
    height: calc(100vh - 98px) !important;
    width: 100%;
}
::ng-deep .cdk-virtual-scroll-content-wrapper {
    position: relative !important;
}
.viewport-item {
    height: 110px;
    width: 100%;
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 2px;
    border-radius: 3px;
    overflow: hidden;
}
.viewport-item:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}
.viewport-item:hover > .round {
    display: none;
}
.viewport-item:hover > .feature {
    display: block;
}
.viewport-item-title {
    margin: 0;
    /* margin-left: 22px; */
    display: inline-flex;
    width: 90%;
    margin-top: 14px;
}
.feature {
    display: none;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    transform: scale(1.2);
    margin: 32px 0 0 15px;
}
.round {
    border-radius: 50%;
    background-color: rgba(2, 120, 189, 0.847);
    min-width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    color: white;
    line-height: 60px;
    font-size: 1.2em;
    margin: 25px 0 0 15px;
}
.infoFirst {
    font-size: 18px;
    padding-bottom: 1px;
    font-family: 'Roboto', sans-serif;
    color: #000000 !important;
    display: inline-flex;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-height: 4.5em;
    line-height: 1.5em;
}
.info {
    float: left;
    width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.statusInfo {
    width: 20%;
}
.goodStatus {
    background-color: rgb(23, 146, 23);
    color: white;
    padding: 6px 6px;
    border-radius: 5px;
}
.badStatus {
    background-color: rgb(141, 14, 14);
    color: white;
    padding: 6px 6px;
    border-radius: 5px;
}
.neutralStatus {
    background-color: rgb(2, 119, 189);
    color: white;
    padding: 6px 6px;
    border-radius: 5px;
}
.title {
    width: 77%;
    padding-left: 3%;
}
.costIcons {
    max-height: 2em;
    line-height: 1em;
}
.cashIcon {
    transform: scale(0.82);
}
.minusIcon {
    transform: scale(0.6);
    position: relative;
    right: 6px;
    top: 2px;
}
.plusIcon {
    transform: scale(0.6);
    position: relative;
    top: 2px;
    right: 5px;
}
.costs {
    display: inline-block;
}
.costValue {
    display: inline-block;
    position: relative;
    right: 10px;
    bottom: 7px;
}
.statusIconC {
    color: rgb(30, 145, 30);
    position: relative;
}
.statusIconA {
    color: rgb(2, 119, 189);
    position: relative;
}
.statusIconS {
    color: rgb(132, 134, 132);
    position: relative;
}
.statusIconI {
    color: rgb(222, 178, 47);
    position: relative;
}
.yearIcon {
    display: inline-block;
}
.year {
    position: relative;
    bottom: 5px;
    display: inline-block;
}
.code {
    font-weight: 700;
    text-decoration-line: underline;
    margin-right: 7px;
}
.clearfix {
    clear: left;
}
.mat-form-field.mat-focused.mat-form-field-label {
    color: #0277bd !important;
}
.flex {
    display: block;
}
.row {
    display: flex;
    width: 100%;
}
.one, .two, .three, .four {
    width: 45%;
    margin: 5px;
    text-align: center;
    border-radius: 13px;
    display: flex;
    font-size: 1em;
    background-color: lightgrey;
}
.flagIcon {
    transform: scale(0.9);
    color: rgb(0, 0, 0);
    padding-left: 10px;
}
.pointer {
    cursor: pointer;
    background-color: #00000099;
}
.colourChange {
    color: white;
}
.clickedColour {
    background-color: #0277bd;
    /* box-shadow: 0.5px 0px 4px inset; */
    color: white;
}
.counter {
    font-size: 12px;
    line-height: 24px;
    padding-left: 30px;
}