/* Responsive */
@media only screen and (max-width: 1470px) {
    .filterIcons {
        width: 30% !important;
    }
    .sorting {
        width: 20% !important;
    }
    .endSidenavOpen {
        width: 5% !important;
    } 
}
@media only screen and (max-width: 1300px){
    .filterIcons {
        width: 15% !important;
    }
    .sorting {
        width: 30% !important;
    }
    .paginator {
        width: 52% !important;
    }
}
@media only screen and (max-width: 1100px) {
    .filterIcons {
        width: 18% !important;
    }
    .sorting {
        width: 29% !important;
    }
    .paginator {
        width: 48% !important;
    }
}
@media only screen and (max-width: 880px) {
    .filterIcons {
        width: 15% !important;
    }
    .paginator {
        width: 51% !important;
    }
}
@media only screen and (max-width: 830px) {
    ::ng-deep .mat-paginator-page-size-label {
        display: none !important;
    }
    .filterIcons {
        width: 16% !important;
    }
    .sorting {
        width: 32% !important;
    }
    .paginator {
        width: 46% !important;
    }
    .endSidenavOpen {
        width: 6% !important;
    }
    .hideOnSmall {
        display: none !important;
    }
}
@media only screen and (max-width: 735px) {
    ::ng-deep .mat-paginator-range-label {
        display: none !important;
    }
    .filterIcons {
        width: 20% !important;
    }
    .sorting {
        width: 36% !important;
    }
    .paginator {
        width: 38% !important;
    }
}
@media only screen and (max-width: 630px) {
    .filterIcons {
        width: 22% !important;
    }
    .sorting {
        width: 40% !important;
    }
    .paginator {
        width: 30% !important;
    }
    .endSidenavOpen {
        width: 7% !important;
    } 
}
@media only screen and (max-width: 600px) {
    ::ng-deep .mat-paginator-range-label, ::ng-deep .mat-paginator-page-size-label {
        display: none !important;
    }
    .filterIcons {
        width: 21% !important;
    }
    .paginator {
        width: 31% !important;
    }
}
@media only screen and (max-width: 550px){
    .filterIcons {
        width: 37% !important;
    }
    .sorting {
        display: none;
    }
    .paginator {
        width: 55% !important;
    }
    .endSidenavOpen {
        width: 8% !important;
    } 
}
@media only screen and (max-width: 430px) {
    ::ng-deep .mat-paginator-range-label, ::ng-deep .mat-paginator-page-size-label {
        display: none !important;
    }
    .paginator {
        width: 55% !important;
    }
    .endSidenavOpen {
        width: 11% !important;
    }
    .filterIcons {
        width: 36% !important;
    } 

}
.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 48px);
}
/* Bar containing filter icons, paginator and sort */
.subnavbar {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
}
/* Filter icons */
.filterIcons {
    color: black;
    width: 32%;
    background-color: rgb(242, 242, 242);
}
.filterButton {
    margin-left: 15px;
    margin-top: 4px;
}
.arrows {
    position: relative;
    transform: scale(0.7);
    top: 2px;
}
.filter1 {
    position: relative;
    right: 15px;
}
.filter2 {
    position: relative;
    left: 3px;
}
.reset {
    position: relative;
    transform: scale(0.65);
    right: 10px;
}
/* Paginator */
.paginator {
    width: 50%;
}
mat-paginator {
    background-color: rgb(242, 242, 242) !important;
    min-height: 0 !important;
} 
::ng-deep .mat-paginator-outer-container {
    height: 49px !important;
    min-height: 0 !important;
}
::ng-deep .mat-paginator-container {
    height: 49px !important;
    min-height: 0 !important;
}
/* Sort */
.sorting {
    width: 15%;
    max-height: 49px;
    background-color: rgb(242, 242, 242);
}
.sortButton {
    position: relative;
    bottom: 3px;
    color: rgb(111, 111, 111);
}
.sortIcon {
    transform: scale(0.8);
}
.endSidenavOpen {
    width: 3%;
    background-color: rgb(242, 242, 242);
    padding: 5px 5px 0 0;
    color: rgb(111, 111, 111);
}
.mat-form-field {
    font-size: 15px !important;
}
::ng-deep .no-line .mat-form-field-underline {
    display: none;
}
::ng-deep .mat-select-value {
    color: rgb(147, 147, 147) !important;
}
/* Sidenav customization */
.facet.mat-nav-list {
    padding-top: 0;
}
.mat-drawer-backdrop {
    width: 100%;
}
.mat-drawer-container {
    background-color: white !important;
}
mat-sidenav {
    width: 300px !important; 
}
::ng-deep mat-sidenav.endSidenav > .mat-drawer-inner-container {
    background-color: white !important;
}
mat-panel-title {
    font-size: 1.3em;
}
mat-expansion-panel {
    margin: 3px 0;
    background-color: rgba(245, 245, 245, 0.01);
}
mat-selection-list {
    outline: none;
}
.sidenav-container {
/* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
    causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}
.is-mobile .sidenav-container {
/* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
    `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}
::ng-deep mat-pseudo-checkbox.mat-pseudo-checkbox.mat-pseudo-checkbox-checked {
    background: #0277bd !important;
}
.moreButton {
    margin-left: 4px;
    margin-right: 4px;
    color: #00639e;
    border-radius: 20px;
}
.catIcon {
    color: #000000 !important;
    margin-top: -1px;
}
.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
::ng-deep .mat-drawer-inner-container {
    background-color: #f2f2f2 !important;
}
/* Viewport content */
.viewport {
    height: calc(100vh - 98px) !important;
    width: 100%;
}
::ng-deep .cdk-virtual-scroll-content-wrapper {
    position: relative !important;
}
.viewport-item {
    height: 130px;
    width: 100%;
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 2px;
    border-radius: 3px;
}
.viewport-item:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}
.viewport-item:hover > .round {
    display: none;
}
.viewport-item:hover > .feature {
    display: block;
}
.viewport-item-title {
    margin: 0;
    width: 90%;
}
.feature {
    display: none;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    transform: scale(1.2);
    margin: 40px 0 0 30px;
}
.round {
    border-radius: 50%;
    background-color: rgba(2, 120, 189, 0.847);
    min-width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    color: white;
    line-height: 60px;
    font-size: 1.2em;
    margin: 33px 0 0 30px;
}
.hideOnSmall {
    display: none !important;
}
.infoIcon {
    position: relative;
    top: 5px;
    left: 1px;
    display: inline-block;
}
.cdcIcon {
    padding-right: 2px;
}
.material-icons {
    font-size: 22px !important;
}
.infoFirst {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #000000 !important;
    display: inline-block;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-height: 4.5em;
    line-height: 1em;
    letter-spacing: 2px;
}
.info {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 17px;
    position: relative;
    bottom: 6px;
    display: inline-block;
    letter-spacing: 1px;
}
.title {
    width: 97%;
    padding-left: 3%;
}
.statusIconC {
    color: rgb(30, 145, 30);
    position: relative;
}
.statusIconA {
    color: rgb(2, 119, 189);
    position: relative;
}
.statusIconS {
    color: rgb(132, 134, 132);
    position: relative;
}
.statusIconI {
    color: rgb(222, 178, 47);
    position: relative;
}
.yearIcon {
    display: inline-block;
}
.iconText {
    position: relative;
    bottom: 5px;
    display: inline-block;
}
.goodStatus {
    display: inline-block;
    color: rgb(36, 146, 32);
}
.badStatus {
    display: inline-block;
    color: rgb(228, 45, 45);
}
.neutralStatus {
    display: inline-block;
    color: rgb(142, 163, 199);
}
.bigcrIcon {
    position: relative;
    left: 16px;
}
.crIcon {
    transform: scale(0.7);
    position: relative;
    left: 5px;
}
.code {
    font-weight: 700;
    text-decoration-line: underline;
    display: inline-block;
    margin-right: 8px;
    letter-spacing: 1px;
}
.mat-form-field.mat-focused.mat-form-field-label {
    color: #0277bd !important;
}
.flex {
    display: block;
}
.row {
    display: flex;
    width: 100%;
}
.one, .two, .three, .four {
    width: 45%;
    margin: 5px;
    text-align: center;
    border-radius: 13px;
    display: flex;
    font-size: 1em;
    background-color: lightgrey;
}
.flagIcon {
    transform: scale(0.9);
    color: rgb(0, 0, 0);
    padding-left: 10px;
}
.pointer {
    cursor: pointer;
    background-color: #00000099;
}
.colourChange {
    color: white;
}
.clickedColour {
    background-color: #0277bd;
    /* box-shadow: 0.5px 0px 4px inset; */
    color: white;
}
.counter {
    font-size: 12px;
    line-height: 24px;
    padding-left: 30px;
}