<div class="container" [class.is-mobile]="mobileQuery.matches">
<!-- Bar containing filter icons, paginator and sort -->
  <div class="subnavbar">
  <!-- Filter icons -->
    <div class="filterIcons">
      <button class="filterButton" 
              mat-icon-button 
              (click)="snav.toggle()">
        <mat-icon class="arrows" 
                  svgIcon="chevron-double-left" 
                  matListIcon        
                  *ngIf="sidenav.opened"></mat-icon>
        <mat-icon class="arrows" 
                  svgIcon="chevron-double-right" 
                  matListIcon 
                  *ngIf="!sidenav.opened"></mat-icon>
        <mat-icon class="filter1" 
                  svgIcon="filter-outline" 
                  matListIcon 
                  matTooltip="Chiudi sfaccettatura" 
                  *ngIf="sidenav.opened"></mat-icon>
        <mat-icon class="filter1" 
                  svgIcon="filter-outline" 
                  matListIcon 
                  matTooltip="Apri sfaccettatura" 
                  *ngIf="!sidenav.opened"></mat-icon>
      </button>
      <button class="filterButton" 
              mat-icon-button 
              (click)="resetAll()" >
          <mat-icon class="filter2" 
                    svgIcon="filter-outline" 
                    matListIcon 
                    matTooltip="Rimuovi filtri"></mat-icon>
          <mat-icon class="reset" 
                    svgIcon="close" 
                    matListIcon></mat-icon>
        </button>
    </div>
  <!-- Filter icons -->
  <!-- Paginator -->
    <div class="paginator">
      <mat-paginator [length]="length"
                     [pageIndex]="pageIndex"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="onPageChanged($event);">    
      </mat-paginator>
    </div>
  <!-- Paginator -->
  <!-- Sort -->
    <div class="sorting">
      <button mat-icon-button 
              class="sortButton" 
              (click)="sortResults()">
        <mat-icon svgIcon="arrow-collapse-up" 
                  *ngIf="descending" 
                  matTooltip="Ascendente"
                  class="sortIcon"></mat-icon>
        <mat-icon svgIcon="arrow-collapse-down" 
                  *ngIf="!descending" 
                  matTooltip="Discendente"
                  class="sortIcon"></mat-icon>
      </button>
      <mat-form-field class="no-line">
          <mat-select placeholder="Ordina per" 
                      disableOptionCentering panelClass="sortPanel"
                      [(ngModel)]="option"
                      >  
            <mat-option *ngFor="let option1 of options" 
                        (click)="sortAllResults()"
                        value="{{option1}}">{{option1}}</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
  <!-- Sort -->
  </div>
<!-- Bar containing filter icons, paginator and sort -->
<!-- Container -->
  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
  <!-- Sidenav -->
    <mat-sidenav #snav [opened]="mobileQuery.matches ? 'false' : 'true'" 
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" 
                 [fixedTopGap]="mobileQuery.matches ? 97 : 97">
      <mat-nav-list class="facet">
        <mat-expansion-panel [expanded]="i < 2" 
                             *ngFor="let category of categories; trackBy: trackByFn; let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title class="noSelect">
              <mat-icon class="catIcon" 
                        matListIcon>{{ category.icon }}</mat-icon>
                        &nbsp;&nbsp;&nbsp;&nbsp;{{ category.id | titlecase }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent *ngIf="category.id != 'anno'">
            <mat-selection-list dense [(ngModel)]="selected[category.id]" 
                                (ngModelChange)="onNgModelChange(category.id)" 
                                [ngModelOptions]="{standalone: true}">
              <mat-list-option *ngFor="let checkbox of checkboxes[category.id]; trackBy: trackByFn;"
                               [value]="checkbox.code">
                <mat-icon matListIcon>label</mat-icon>
                  <p class="noSelect">{{ checkbox.descr }} ({{ checkbox.count }})</p>
              </mat-list-option>
              <button mat-raised-button class="moreButton" 
                      *ngIf="hasMore[category.id]" 
                      (click)="showMore(category.id)">Mostra di più</button>
              <button mat-raised-button class="moreButton" 
                      *ngIf="numMore[category.id] > 1" 
                      (click)="showLess(category.id)">Mostra meno</button>
            </mat-selection-list>
              </ng-template>
          <ng-template matExpansionPanelContent *ngIf="category.id == 'anno'">
            <canvas baseChart *ngIf="barChartData[0].data.length > 0"
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [colors]="barChartColors"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </ng-template>
        </mat-expansion-panel>
      </mat-nav-list>
    </mat-sidenav>
  <!-- Sidenav -->
  <!-- Content -->
    <mat-sidenav-content>
      <ngx-loading [show]="loading" 
                   [config]="{animationType: ngxLoadingAnimationTypes.circle, primaryColour: primaryColour, secondaryColour: secondaryColour, backdropBorderRadius: '3px'}">
      </ngx-loading>
      <cdk-virtual-scroll-viewport itemSize="20" class="viewport">
        <div *cdkVirtualFor="let item of activePageDataChunk; let first = first;"  
              class="viewport-item mat-elevation-z1"
              [class.first] = "first"
              (click) = "openDialog(item)">
          <div class="round mat-elevation-z4">{{ item.comCodice | slice:0:3 }}</div>
          <div class="feature"><mat-icon svgIcon="feature-search-outline" matListIcon></mat-icon></div>
          <div class="viewport-item-title">
            <div class="infoFirst">{{item.comDescrizione}}<span>({{ item.anno }})</span><span class="code">{{ item.comCodice }}</span></div>
            <div class="info"><span class="infoTitle1">Cliente: </span>{{item.comCliente}}<span class="code">{{item.cliPartitaIva}} - {{item.cliTipologia}}</span></div>
            <div class="info"><span class="infoTitle2">Business unit: </span>{{item.cdcDescrizione}}, {{item.cdcBusinessUnit}}<span class="code">{{item.cdcCodice}} </span></div>
            <div class="info"><span class="infoTitle3">Responsabile: </span>{{item.respCognome}} {{item.respNome}}<span class="code">{{item.cdcResponsabile}}</span></div>
            <div class="clearfix"></div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </mat-sidenav-content>
  <!-- Content -->
  </mat-sidenav-container>
<!-- Container -->
</div>