<div class="sidenav-container">
  <div class="resetAll">
    Reset all filters 
    <button mat-icon-button>
        <mat-icon>cached</mat-icon>
    </button>
  </div>
  <div class="test">
    <mat-expansion-panel [expanded]="i < 1" *ngFor="let category of categories; trackBy: trackByFn; let i = index" >
      <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon matListIcon>assessment</mat-icon>&nbsp;{{ category | titlecase }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <div class="resetThis">
          Reset {{ category }} filter
          <button class="resetbutton" mat-icon-button (click)="dud();">
              <mat-icon>cached</mat-icon>
          </button>
        </div>
        <mat-selection-list dense (ngModelChange)="onNgModelChange($event)" *ngIf="category != somethingThatNeedsSlider">
          <mat-list-option *ngFor="let checkbox of checkboxes[category]; trackBy: trackByFn;" [value]="checkbox">
            <mat-icon matListIcon>label</mat-icon>
            <p>{{ checkbox.id }} ({{ checkbox.count }})</p>
          </mat-list-option>
        </mat-selection-list>
      </div>
      <div class="slider" *ngIf="category == somethingThatNeedsSlider">
        <button mat-icon-button>
            <mat-icon>cached</mat-icon>
        </button>
        <p>Slider for {{ category }}</p>
        <mat-slider
          thumbLabel
          [displayWith]="formatLabel"
          tickInterval="10"
          min="0"
          max="100"
          (ngModelChange)="onNgModelChange($event)"></mat-slider>
      </div>
    </mat-expansion-panel>
  </div>
</div>
