mat-expansion-panel {
    margin: 3px 0;
}
.resetThis {
    text-align: center;
    font-style: italic;
}
.resetAll {
    text-align: center;
    box-shadow: 0px 1px 0px 0.5px grey;
    font-size: 1.1em;
}
mat-panel-title {
    font-size: 1.3em;
}
*::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* make scrollbar invisible */
}
.sidenav-container {
    box-shadow: 1px 1px 10px grey;
}