.card {
    padding: 20px 40px;
    height: calc(100vh - 138px);
}
.noWrap {
    word-break: break-word;
    text-align: center;
    letter-spacing: 1px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px;
    background-color: rgba(1, 119, 186, 0.78);
    color: white;
}
.content {
    padding: 10px 10px;
}
.mat-dialog-title {
    margin: 0 !important;
}
.icon {
    display: inline;
    color: rgb(98, 98, 98);
}
.iconC {
    display: inline; 
    font-size: 20px;
}
.lIcon {
    display: inline;
    position: relative;
    top: 6px;
}
.cdcIcon {
    padding: 1px 1px;
    filter: opacity(0.6);
}
.info {
    display: inline;
    position: relative;
    bottom: 5px;
    left: 5px;
    line-height: 1.5pc;
}
.plainInfo {
    display: inline;
    position: relative;
    line-height: 1.5pc; 
    font-size: 18px;
}
.costInfo {
    display: inline;
    position: relative;
    left: 5px;
    line-height: 1.5pc; 
    font-size: 18px;
    color: rgba(0, 0, 0, 0.87);
    margin-right: 6px;
    margin-left: -25px;
    top: -4px;
}
.statusInfo {
    display: inline;
    position: relative;
    left: 5px;
    line-height: 1.5pc;
    font-size: 18px;  
}
.crIcon {
    transform: scale(0.5);
    position: relative;
    right: 16px;
    top:2px;
}
.goodStatus {
    display: inline-block;
    color: rgb(36, 146, 32);
}
.badStatus {
    display: inline-block;
    color: rgb(228, 45, 45);
}
.neutralStatus {
    display: inline-block;
    color: rgb(142, 163, 199);
}
.costs {
    display: inline;
    position: relative;
    bottom: 7px;
    right: 17px;
}
.statusIconC {
    color: rgb(30, 145, 30);
    position: relative;
    top: 6px;
}
.statusIconA {
    color: rgb(2, 119, 189);
    position: relative;
    top: 6px;
}
.statusIconS {
    color: rgb(132, 134, 132);
    position: relative;
    top: 6px;
}
.statusIconI {
    color: rgb(222, 178, 47);
    position: relative;
    top: 4px;
}
.soc1 {
    background-color: rgba(2, 119, 189, 0.902) !important;
}
.soc2 {
    background-color: rgba(199, 33, 135, 0.902) !important;
}
.soc3 {
    background-color: rgba(60, 173, 166, 0.902) !important;
}
.soc4 {
    background-color: rgba(131, 81, 4, 0.902) !important;
}
.soc5 {
    background-color: rgba(207, 179, 101, 0.902) !important;
}
.soc6 {
    background-color: rgba(115, 114, 219, 0.902) !important;
}
.soc7 {
    background-color: rgba(0, 156, 52, 0.902) !important;
}
.soc8 {
    background-color: rgba(71, 155, 158, 0.902) !important;
}
.soc9 {
    background-color: rgba(191, 50, 12, 0.902) !important;
}
.soc10 {
    background-color: rgba(238, 0, 59, 0.902) !important;
}
.soc11 {
    background-color: rgba(250, 177, 29, 0.902) !important;
}
.soc12 {
    background-color: rgba(135, 184, 0, 0.902) !important;
}
.soc13 {
    background-color: rgba(185, 0, 114, 0.902) !important;
}
.soc14 {
    background-color: rgba(207, 106, 86, 0.902) !important;
}
.soc15 {
    background-color: rgba(174, 104, 209, 0.902) !important;
}
.soc16 {
    background-color: rgba(75, 12, 12, 0.902) !important;
}
.soc17 {
    background-color: rgba(196, 142, 25, 0.902) !important;
}
.soc18 {
    background-color: rgba(49, 74, 83, 0.902) !important;
}
.soc19 {
    background-color: rgba(146, 118, 135, 0.902) !important;
}
.soc20 {
    background-color: rgba(0, 184, 174, 0.902) !important;
}
.soc21 {
    background-color: rgba(137, 54, 220, 0.902) !important;
}
.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
.move {
    display: inline-block;
    margin: 0 0 0 24px;
}
.infoCo {
    bottom: 4px !important;
}