.card {
    padding: 20px 40px;
    height: calc(100vh - 138px);
}
.noWrap {
    word-break: break-word;
    text-align: center;
    letter-spacing: 1px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px;
    background-color: #0278bdc7;
    color: white;
}
.content {
    padding: 10px 10px;
}
.mat-dialog-title {
    margin: 0 !important;
}
.icon {
    display: inline;
    color: rgb(98, 98, 98);
}
.iconC {
    display: inline; 
}
.lIcon {
    display: inline;
    position: relative;
    top: 6px;
}
.cdcIcon {
    padding: 1px 1px;
    filter: opacity(0.6);
}
.info {
    display: inline;
    position: relative;
    bottom: 6px;
    left: 5px;
    line-height: 1.5pc;
}
.plainInfo {
    display: inline;
    position: relative;
    left: 5px;
    line-height: 1.5pc; 
    font-size: 18px;
}
.costInfo {
    display: inline;
    position: relative;
    left: 5px;
    bottom: 6px;
    line-height: 1.5pc; 
    font-size: 18px;
    color: black;
}
.statusInfo {
    display: inline;
    position: relative;
    left: 5px;
    line-height: 1.5pc;
    font-size: 18px;  
}
.crIcon {
    transform: scale(0.7);
    position: relative;
    right: 16px;
}
.goodStatus {
    display: inline-block;
    color: rgb(36, 146, 32);
}
.badStatus {
    display: inline-block;
    color: rgb(228, 45, 45);
}
.neutralStatus {
    display: inline-block;
    color: rgb(142, 163, 199);
}
.costs {
    display: inline;
    position: relative;
    bottom: 7px;
    right: 17px;
}
.statusIconC {
    color: rgb(30, 145, 30);
    position: relative;
    top: 4px;
}
.statusIconA {
    color: rgb(2, 119, 189);
    position: relative;
    top: 4px;
}
.statusIconS {
    color: rgb(132, 134, 132);
    position: relative;
    top: 4px;
}
.statusIconI {
    color: rgb(222, 178, 47);
    position: relative;
    top: 4px;
}
.soc1 {
    background-color: #0277bde6 !important;
}
.soc2 {
    background-color: #c72187e6 !important;
}
.soc3 {
    background-color: #3cada6e6 !important;
}
.soc4 {
    background-color: #835104e6 !important;
}
.soc5 {
    background-color: #cfb365e6 !important;
}
.soc6 {
    background-color: #7372dbe6 !important;
}
.soc7 {
    background-color: #009c34e6 !important;
}
.soc8 {
    background-color: #479b9ee6 !important;
}
.soc9 {
    background-color: #BF320Ce6 !important;
}
.soc10 {
    background-color: #ee003be6 !important;
}
.soc11 {
    background-color: #FAB11De6 !important;
}
.soc12 {
    background-color: #87b800e6 !important;
}
.soc13 {
    background-color: #b90072e6 !important;
}
.soc14 {
    background-color: #cf6a56e6 !important;
}
.soc15 {
    background-color: #ae68d1e6 !important;
}
.soc16 {
    background-color: #4b0c0ce6 !important;
}
.soc17 {
    background-color: #c48e19e6 !important;
}
.soc18 {
    background-color: #314a53e6 !important;
}
.soc19 {
    background-color: #927687e6 !important;
}
.soc20 {
    background-color: #00b8aee6 !important;
}
.soc21 {
    background-color: #8936dce6 !important;
}