<div mat-dialog-title  style="position: relative">
  <div class="title">
    <h3 >Additional information </h3>
  </div>
  <div class="div">
    <button mat-icon-button class="cancel" (click)="close()"><mat-icon class="icon">cancel</mat-icon></button>
  </div>
  
</div>


<mat-dialog-content>

  <p>{{data.comCodice}}</p>
  <p>{{data.anno}}</p>
  <p>{{data.cdcBusinessArea}}</p>
  <p>{{data.cdcCodice}}</p>
  <p>{{data.codNazione}}</p>
  <p>{{data.codProvincia}}</p>
  <p>{{data.comDescrizione}}</p>
 
</mat-dialog-content>
