<!-- <div mat-dialog-title  style="position: relative">
  <div class="title">
    <h3 >Additional information </h3>
  </div>
  <div class="div">
    <button mat-icon-button class="cancel" (click)="close()"><mat-icon class="icon">clear</mat-icon></button>
  </div>
  
</div> -->



  <div class="card mat-elevation-z4">
    <div>
      <div class="round mat-elevation-z2">{{ receivedItem.comCodice | slice:0:3 }}</div>
      {{receivedItem.comCodice}} - {{receivedItem.anno}}
    </div>
    <div>
      <p>{{receivedItem.comDescrizione}}</p>
      <mat-divider></mat-divider>
      <p>{{receivedItem.cdcBusinessArea}} - {{receivedItem.codNazione}} - {{receivedItem.codProvincia}}</p>
      <p>{{receivedItem.cdcBusinessUnit}}</p>
      <p>{{receivedItem.cdcCodice}}</p>
      <mat-divider></mat-divider>
      <p>{{receivedItem.cdcConsolidationSegment}}</p>
      <p>{{receivedItem.cdcDepartment1}}</p>
      <p>{{receivedItem.comDescrizione}}</p>
      <p>{{receivedItem.cdcResponsabile}}</p>
    </div>
  </div>


