<!-- <div mat-dialog-title  style="position: relative">
  <div class="title">
    <h3 >Additional information </h3>
  </div>
  <div class="div">
    <button mat-icon-button class="cancel" (click)="close()"><mat-icon class="icon">clear</mat-icon></button>
  </div>
  
</div> -->



  <div class="card mat-elevation-z4">
    <div>
      <div class="round mat-elevation-z2">{{ receivedItem.comCodice | slice:0:3 }}</div>
      {{receivedItem.comCodice}} - {{receivedItem.comDescrizione}}
    </div>
    <div>
      <p>{{receivedItem.cliId}} - {{receivedItem.comCliente}}</p>
      <mat-divider></mat-divider>
      <p>{{receivedItem.cdcCodice}} - {{receivedItem.cdcDescrizione}} - {{receivedItem.cdcResponsabile}}</p>
      <mat-divider></mat-divider>
      <p>{{receivedItem.comCp}} - {{receivedItem.cpNome}} - {{receivedItem.cpCognome}}</p>
      <p>{{receivedItem.comFunzionario}} - {{receivedItem.funzNome}} - {{receivedItem.funzCognome}}</p>
    </div>
  </div>


